<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/4fxxbm4opjd31.jpg);">
  <div class="banner h1 text-center text-white">
    <h1>Flick List</h1>
      <h2>
      <span class="typer" id="main" data-words="watch movies,create lists" data-delay="100" data-deleteDelay="1000" data-colors="red,green"></span>
      <span class="cursor" data-owner="main"></span>
      <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    </h2>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Add New List", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class: "text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cloudinary_url(list.photo.key) : asset_path('list_background.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- app/views/articles/index.html.erb -->
<%# <%= cl_image_tag("iqlmadux2pq8wgvf9xz0", width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("cqct7obf21j4hiuumt5a", width: 150, height: 150, crop: :thumb, gravity: :face) %>
